body {
  margin: 0;
  box-sizing: border-box;
}

p {
  padding: 0 10px;
}

#score-board {
  display: flex;
  position: sticky;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  flex-direction: row;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dropdown-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.score-box {
  border-radius: 10px;
  margin: 10px 10px 0px 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 20px;
}

#player2-score,
#player1-score,
#draw-score {
  font-size: 30px;
  color: black;
  margin-left: 50px;
}

.colon {
  font-size: 40px;
  margin-left: 10px;
}

#game-board-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  flex-direction: column;
}

#game-board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: space-between;
  position: relative;
}
.box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.board-token.p1 {
  color: blue;
  font-size: 60px;
}

.board-token.p2 {
  color: red;
  font-size: 60px;
}

.score-icon {
  font-size: 30px;
  color: black;
}

#reset-button {
  padding: 5px 20px;
  margin-top: 20px;
}

#mode-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 15%;
}

@media screen and (max-width: 720px), screen and (max-height: 500px) {
  #game-board {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }

  .line-vertical-left {
    transform: rotate(90deg) translateX(50%) translateY(50px);
  }

  .score-icon {
    font-size: 15px;
    color: black;
  }

  .score-box {
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 10px;
  }

  .colon {
    font-size: 20px;
    margin-left: 5px;
  }

  #player2-score,
  #player1-score,
  #draw-score {
    font-size: 20px;
    margin-left: 25px;
  }
}
