body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dad7cd;
  flex-direction: column;
}

p {
  padding: 0 10px;
}

#score-board {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.colon {
  font-size: 40px;
  margin-left: 10px;
}

.score-box {
  border-radius: 10px;
  margin: 10px 10px 0px 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 20px;
}

#player2-score {
  font-size: 30px;
  color: black;
  margin-left: 50px;
}

#player1-score {
  font-size: 30px;
  color: black;
  margin-left: 50px;
}

#game-board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: space-between;
  margin-top: 100px;
  position: relative;
}
.box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fa-x {
  color: blue;
  font-size: 60px;
}

.fa-circle {
  color: blue;
  font-size: 60px;
}

@media screen and (max-width: 650px), screen and (max-height: 500px) {
  #game-board {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }
  .crossed {
    background-size: 120px 120px;
  }

  .line-vertical-left {
    transform: rotate(90deg) translateX(50%) translateY(50px);
  }

  .fa-circle {
    font-size: 50px;
  }
}

.score-icon {
  font-size: 30px;
  color: black;
}
